# 1. Requerimientos indispensables
*.pyc
.vscode/
__pycache__/
.env

# 2. Estándares profesionales
venv/
env/
.DS_Store
Thumbs.db

# 3. Datos procesados (Opcional pero recomendado)
data/processed/*
!data/processed/.gitkeep